<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<div class="hero_area">
<header class="header_section">
    <div class="header_top">
      <div class="container-fluid header_top_container">
        <div class="lang_box dropdown">
    
        </div>
        <div class="contact_nav">
          <div style="color:white;"class="mm float-left">
            <i class="fas fa-solid fa-user" aria-hidden="true"></i>
            <span>
                Owner: V.Mathi
            </span>
        </div>
          <div style="color:white;padding-right:8px;" class="mm">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              Call : +91 9345670588
            </span>
        </div>
        <div  style="color:white;padding-right:8px;"class="mm">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>
              Email : anglammangril2@gmail.com
            </span>
        </div>
        
        </div>
   
      </div>
    </div>
    </header>
    </div>